@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap");


@font-face {
    font-family: "roboto-regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto';
    color: #242742;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.5;
    min-width:375px;
}

.icon {
    padding-left: 20px;
}

h1 {
    padding: 0px 15px 0px 15px;
}

p {
    padding: 0px 15px 0px 15px;
}

/*.hidden {
    display: none;
}*/

.success-state {
    width: min(23.5rem, calc(100% - 2rem));
    margin-inline: auto;
    padding-block-start: 5em;
}

.success-state p span {
    font-weight: bold;
}

.show-mail {
    font-weight: bold;
}

button:hover {
    background-image: linear-gradient(#FF6A3A, #FF527B);
    cursor: pointer;
    box-shadow: 0px 0px 20px #FF6A3A;
    transition: ease-in-out 0.1s;
}

.success-btn-mobile {
    color: white;
    background-color: hsl(234, 29%, 20%);
    width: 90%;
    border: none;
    padding: 1.3em 2em;
    font-size: 1rem;
    border-radius: 10px;
    margin: 300px 13px 2px 13px;
    text-align: center;
    display: flex;
    padding-left:90px;
    font-weight:400;
    line-height:24px;
}

@media (min-width: 1440px) {

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: hsl(235, 18%, 26%);
}

.success-state {
    border:2px solid transparent;
    border-radius:35px;
    background-color:white;
    width: 504px;
    height:500px;
    padding-top:50px;
}

.icon {
    padding-left: 60px;
}

h1 {
    font-size:56px;
    font-weight:700;
    line-height:1;
    padding-left:60px;
}

p {
    max-width:376px;
    padding-left:60px;
    line-height:24px;
    font-size:16px;
}

.success-btn-mobile {
    max-width:376px;
    padding-left:132px;
    margin-top:50px;
    margin-left:60px;
    border-radius:10px;
}


}